name: citest

on:
  push:
    branches:
      - master
      - "release/**"
    paths-ignore:
      - "setup.*"
      - "requirements.txt"
      - "requirements/**"
      - "docs/**"
      - "tools/**"
      - ".scripts/**"
      - "README.md"
      - "README_zh-CN.md"
      - "NOTICE"
      - ".github/workflows/lint.yaml"
      - ".github/workflows/publish.yaml"

  pull_request:
    paths-ignore:
      - "setup.*"
      - "requirements.txt"
      - "requirements/**"
      - "docs/**"
      - "tools/**"
      - ".scripts/**"
      - "README.md"
      - "README_zh-CN.md"
      - "NOTICE"
      - ".github/workflows/lint.yaml"
      - ".github/workflows/publish.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ut-torch180:
    # The type of runner that the job will run on
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
            lfs: 'true'
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Run unittest
        shell: bash
        run: |
          set -e
          UNITTEST_OSS_CONFIG=~/.ossutilconfig.unittest
          if [ ! -e $UNITTEST_OSS_CONFIG ]; then
              echo "$UNITTEST_OSS_CONFIG does not exists"
              exit
          fi

          export OSS_CONFIG_FILE=$UNITTEST_OSS_CONFIG
          export TEST_DIR="/tmp/easycv_test_${USER}_`date +%s`"

          # do not uncomments, casue faild in Online UT, install requirements by yourself on UT machine
          # pip install -r requirements.txt
          #run test
          export CUDA_VISIBLE_DEVICES=7
          source ~/anaconda3/etc/profile.d/conda.sh
          conda activate easycv_torch1.8.0_py37

          # pip install pai-easycv
          pip uninstall -y pai-easycv

          python setup.py install
          python setup.py sdist bdist_wheel
          # move source code, ensure import easycv from site-package
          mv ./easycv ./easycv_src

          PYTHONPATH=. python tests/run.py --skip_dir tests/test_toolkit/modelscope

          conda activate easycv_torch1.8.0_py37
          PYTHONPATH=. python tests/run.py --test_dir tests/test_toolkit/modelscope


# blade test env will be updated! we do not support test with trt_efficient_nms
  ut-torch181-blade:
    # The type of runner that the job will run on
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run unittest
        shell: bash
        run: |
          set -e
          UNITTEST_OSS_CONFIG=~/.ossutilconfig.unittest
          if [ ! -e $UNITTEST_OSS_CONFIG ]; then
              echo "$UNITTEST_OSS_CONFIG does not exists"
              exit
          fi

          export OSS_CONFIG_FILE=$UNITTEST_OSS_CONFIG

          export PYTHONPATH=.
          export CUDA_HOME=/apsarapangu/disk6/xinyi.zxy/cuda-10.2
          export LD_LIBRARY_PATH=${CUDA_HOME}/lib64
          export PATH=${CUDA_HOME}/bin:${PATH}
          export TEST_DIR="/tmp/easycv_test_${USER}_`date +%s`"

          # do not uncomments, casue faild in Online UT, install requirements by yourself on UT machine
          # pip install -r requirements.txt
          #run test
          export CUDA_VISIBLE_DEVICES=6
          source ~/anaconda3/etc/profile.d/conda.sh
          conda activate torch1.8.1_blade
          PYTHONPATH=. python tests/test_predictors/test_detector_blade.py
          PYTHONPATH=. python tests/test_apis/test_export_blade.py
